body {
  background-color: #f5f5f5;
}

a {
  color: black;
}

.dev {
  font-size: 48px;
  margin: 0.5rem;
  display: block;
}

.devicon-git-plain {
  max-width: 4em;
}

.no-padding {
  padding-bottom: 0em;
}

.card {
  margin: 0 auto;
}
.card-header-title {
  display: block;
  font-size: 2rem;
}
.card-content {
  font-size: 16px;
  color: black;
}

.fit {
  display: flex;
}

.columns {
  margin: 0 auto;
}

.icon {
  margin: 25px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  padding: 5px 10px 5px 10px;
  display: block;
}
