<section class="hero is-primary">
  <div class="hero-body">
    <div style="float: right" >
      <a md-icon-button href="https://github.com/Niznikr" target="_blank"><i class="fa fa-github" style="font-size: 3em"></i></a>
      <a md-icon-button href="assets/resume.pdf" target="_blank"><i class="fa fa-user" style="font-size: 3em"></i></a>
    </div>
    <h1 class="title">
      Robert Niznik
    </h1>
  </div>
</section>
<section class="section no-padding">
  <md-card>
    <md-card-header>
      <md-card-title><h2 class="title">About me</h2></md-card-title>
    </md-card-header>
    <img md-card-image src="assets/me.jpg" style="width: 250px; margin-left: 1px">
    <md-card-content>
      <p>
      I am a web developer who is proficient in AngularJS, HTML5, CSS3, JavaScript, and jQuery.
      </p>
    </md-card-content>
  </md-card>
</section>
<section class="section no-padding">
  <md-card>
    <md-card-header>
      <md-card-title><h2 class="title">Languages, Frameworks & Libraries</h2></md-card-title>
    </md-card-header>
    <md-card-content>
      <i mdTooltip="Angular" class="devicon-angularjs-plain colored icon"></i>
      <i mdTooltip="React" class="devicon-react-original colored icon"></i>
      <i mdTooltip="Vue" class="devicon-vuejs-plain colored icon"></i>
      <i mdTooltip="TypeScript" class="devicon-typescript-plain colored icon"></i>
      <i mdTooltip="JavaScript" class="devicon-javascript-plain colored icon"></i>
      <i mdTooltip="HTML5" class="devicon-html5-plain colored icon"></i>
      <i mdTooltip="CSS3" class="devicon-css3-plain colored icon"></i>
      <i mdTooltip="Bootstrap" class="devicon-bootstrap-plain colored icon"></i>
      <i mdTooltip="NodeJS" class="devicon-nodejs-plain colored icon"></i>
      <i mdTooltip="Python" class="devicon-python-plain colored icon"></i>
      <i mdTooltip="Java" class="devicon-java-plain colored icon"></i>
      <i mdTooltip="C" class="devicon-c-plain colored icon"></i>
      <i mdTooltip="C++" class="devicon-cplusplus-plain colored icon"></i>
      <i mdTooltip="C#" class="devicon-csharp-plain colored icon"></i>
    </md-card-content>
  </md-card>
</section>
<section class="section no-padding" style="display: inline-block">
  <md-card>
    <md-card-header>
      <md-card-title><h2 class="title">Bootstrap App</h2></md-card-title>
    </md-card-header>
    <md-card-content>
    </md-card-content>
    <md-card-actions>
      <a md-button href="https://niznikr.github.io/angular-bootstrap-app/" target="_blank">View</a>
      <a md-button href="https://github.com/Niznikr/angular-bootstrap-app" target="_blank" style="float: right">Repo</a>
    </md-card-actions>
  </md-card>
</section>
<section class="section" style="display: inline-block">
  <md-card>
    <md-card-header>
      <md-card-title><h2 class="title">Test</h2></md-card-title>
    </md-card-header>
    <md-card-content>
    </md-card-content>
    <md-card-actions>
      <a md-button>View</a>
      <a md-button style="float: right">Repo</a>
    </md-card-actions>
  </md-card>
</section>
<footer class="footer">
  <div class="content">
    <p>
      Website created by Robert Niznik using Angular
    </p>
  </div>
</footer>
